<div class="row">
    <div class="col-md-6">
        <div ng-if="city">
            <h1>{{ city.name }}</h1>

            <table class="table table-bordered table-striped">
                <tbody>
                    <tr><th>Météo</th><td><img ng-src="http://openweathermap.org/img/w/{{ city.weather[0].icon }}.png" /> {{ city.weather[0].description }}</td></tr>
                    <tr><th>Température</th><td>Entre {{ city.main.temp_min }} C° et {{ city.main.temp_max }} C°</td></tr>
                    <tr><th>Vent</th><td>{{ city.wind.speed }} m/s</td></tr>
                    <tr><th>Pression</th><td>{{ city.main.pressure }} hpa</td></tr>
                    <tr><th>Humidité</th><td>{{ city.main.humidity }} %</td></tr>
                    <tr><th>Geo Coordonnées</th><td>{{ city.coord.lat }}, {{ city.coord.lon }}</td></tr>
                </tbody>
            </table>
        </div>
        <div ng-if="!city">Chargement...</div>
    </div>
    <div class="col-md-6">
        <div ng-if="twitter">
            <h2>Flux twitter</h2>

            <div ng-repeat="tweet in twitter.tweets">
                <blockquote class="twitter-tweet"><a href="https://twitter.com/{{ tweet }}"></a></blockquote>
            </div>
        </div>
        <div ng-if="!twitter">Chargement...</div>
    </div>
</div>
