<header>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand navbar-brand-center" href="#" data-ui-sref="root.home">
                <span class="navbar-brand-text hidden-xs">SparkUp</span>
            </a>
            <a class="navbar-brand navbar-brand-center" data-ui-sref="root.home">
                <span class="navbar-brand-text hidden-xs">Home</span>
            </a>
        </div>
    </nav>
</header>
